{% extends 'templates/app.twig' %}

{% block content %}
    <h3 class="display-4 pt-5">Social graph</h3>
    <div class="card mt-3">
        <div class="card-header">
            <h2>Persons</h2>
        </div>
        <div class="card-body">
            <div class="list-group">
                {% for user in users %}
                    <a href=" {{ path_for('person', {'id': user.id}) }}" class="list-group-item list-group-item-action">
                        {{ user.getFullName() }}
                        <span class="badge badge-info">{{ user.age }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
